/* .allusers-container {
  display: block;
  position: absolute;
  left: 0px;
  top: 50px;
  height: 800px;
} */

.allusers-container {
  /* left: 0;
    top: 0;
    width: 100px;
    padding: 40px 0 0;
    right: auto;
    height: auto;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start; */
  -webkit-box-shadow: 10px 0 30px rgba(0, 0, 0, 0.05);
  box-shadow: 3px 0 30px rgba(0, 0, 0, 0.1);
  width: 8vw;
  position: absolute;
  left: 0;
  padding: 10px;
  /* background: #000000; */
  /* background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85)); */
  /* background: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67)); */
  /* background: linear-gradient(
    to right,
    rgb(202, 137, 17),
    rgb(0, 0, 0),
    /* rgb(67, 67, 67) */
  /* ); */

  /* border-left: 0.8px solid rgb(235, 211, 211); */
  background-color: white;
  color: #5a55558a;
  height: 100vh;
}

.current-players-heading {
  font-size: 24px;
  color: #0000008a;
  /* font-family: "Alegreya", serif; */
  /* font-family: "Rajdhani", sans-serif; */
  font-family: "Luckiest Guy", cursive;
}

.users-list {
  list-style-type: none;
  left: 0;
  right: 0;
  margin-left: 10px;
  font-family: "Quicksand", sans-serif;
}
.points-container {
  margin-left: 10px;
}
