.allusers-container {
  -webkit-box-shadow: 10px 0 30px rgba(0, 0, 0, 0.05);
  box-shadow: 3px 0 30px rgba(0, 0, 0, 0.1);
  width: 8vw;
  position: absolute;
  left: 0;
  padding: 10px;
  background-color: white;
  color: #5a55558a;
  height: 100vh;
}

.current-players-heading {
  font-size: 24px;
  color: #0000008a;
  /* font-family: "Alegreya", serif; */
  /* font-family: "Rajdhani", sans-serif; */
  font-family: "Luckiest Guy", cursive;
}

.user-item {
  width: 100px;

  margin-left: 1.5vw;

  color: black;
  font-family: monospace;
}
.users-list {
  list-style-type: none;
  left: 0;
  padding: 0px;
  right: 0;
  /* margin-left: 10px; */
  font-family: "Quicksand", sans-serif;
}
.points-container {
  margin-left: 10px;
}
.img-item {
  width: 100px;

  margin-left: 0.5vw;

  color: black;
  font-family: monospace;
}
.coin {
  float: right;
  height: 20px;
  width: 20px;
  padding: 8px;
  margin-right: 23 px;
}

@media only screen and (max-width: 600px) {
  .allusers-container {
    display: none;
  }
  .users-list {
    margin-left: 10vw;
  }
  .coin {
    margin-left: 10px;
  }
  .img-item {
    float: left;
    padding: 5px;
  }
  .points-container {
    margin-left: 20px;
  }
}
