.current-track {
  width: 100vw;
  height: 125px;
  float: left;
  display: block;
  background: #282828;
  overflow: auto;
  position: absolute;
  bottom: 0;
}
#track-image {
  width: 80px;
  height: 80px;
  float: left;
}

#track-name {
  margin: auto;
  font-family: spotify-circular, spotify-circular-cyrillic,
    spotify-circular-arabic, spotify-circular-hebrew, Helvetica Neue, Helvetica,
    Arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
  color: #fff;
}
