.Login-Container {
  position: absolute;
  top: 0;
  color: black;
  right: 0;
  margin-right: 2vw;
  margin-top: 10px;
  font-family: "Luckiest Guy", cursive;
  z-index: 999;
}

@media only screen and (max-width: 600px) {
  .username {
    color: white;
  }
}
