.Queue-Container {
  -webkit-box-shadow: 10px 0 30px rgba(0, 0, 0, 0.05);
  box-shadow: 3px 0 30px rgba(0, 0, 0, 0.1);
  width: 20vw;
  position: absolute;
  padding: 10px;
  right: 0;
  background-color: white;
  color: black;
  height: 100vh;
  overflow-y: scroll;
}
.queue-items {
  font-size: 16px;
  list-style-type: none;
  text-align: left;
  /* font-family: "Quicksand", sans-serif; */
  font-family: "Alata", sans-serif;
}

.score {
  color: gray;
}
.queue-header {
  font-size: 3.2vw;
  color: #0000008a;
  font-family: "Luckiest Guy", cursive;
}

@media only screen and (max-width: 600px) {
  .queue-items {
    font-size: 12px;
  }
}

@media only screen and (max-width: 800px) {
  .queue-items {
    font-size: 12px;
  }
}
