.Queue-Container {
  -webkit-box-shadow: 10px 0 30px rgba(0, 0, 0, 0.05);
  box-shadow: 3px 0 30px rgba(0, 0, 0, 0.1);
  width: 20vw;
  position: absolute;
  right: 0;
  background-color: white;
  color: black;
  height: 100vh;
}
ul {
  list-style-type: none;
  text-align: left;
  font-family: "Quicksand", sans-serif;
}

.score {
  color: gray;
}
p {
  font-size: 32px;
  color: #0000008a;
  font-family: "Luckiest Guy", cursive;
}

@media only screen and (max-width: 600px) {
}
