.Queue-Container {
  width: 30vw;
  position: absolute;
  right: 0;
  /* background: #000000; */
  /* background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85)); */
  /* background: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67)); */
  background: linear-gradient(
    to right,
    rgb(202, 137, 17),
    rgb(0, 0, 0),
    /* rgb(67, 67, 67) */
  );
  border-left: 0.8px solid rgb(235, 211, 211);
  color: white;
  height: 100vh;
}
ul {
  list-style-type: none;
  text-align: left;
  font-family: "Quicksand", sans-serif;
}

h3 {
  font-size: 32px;
}
